<nb-card>
  <nb-card-header class="row">
    <div class="col-6">
      <strong placement="bottom" ngbTooltip="{{place?.description}}">{{place?.name}}</strong>
    </div>
    <div class="col-6">
      <nb-actions fullWidth>
        <nb-action *ngIf="!tapview" (click)="toggleView()" ngbTooltip="Taps Layout" placement="bottom" icon="nb-tables"></nb-action>
        <nb-action *ngIf="tapview" (click)="toggleView()" ngbTooltip="List Layout" placement="bottom" icon="nb-list"></nb-action>
        <nb-action *ngIf="data.recursive" (click)="combineRecursive()" placement="bottom" ngbTooltip="Recursive Combine Data"
          icon="nb-plus"></nb-action>
        <nb-action *ngIf="!data.recursive" (click)="combineRecursive()" placement="bottom" ngbTooltip="Recursive Combine Data"
          icon="nb-plus-circled"></nb-action>
        <nb-action *ngIf="!empty" (click)="toggleEmpty()" placement="bottom" ngbTooltip="Hide Empty Data"
          icon="nb-grid-a-outline"></nb-action>
        <nb-action *ngIf="empty" (click)="toggleEmpty()" placement="bottom" ngbTooltip="Show Empty Data"
          icon="nb-grid-a"></nb-action>
        <nb-action (click)="reloadData()" ngbTooltip="Reload Data" placement="bottom" icon="nb-loop"></nb-action>
      </nb-actions>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset fullWidth *ngIf="tapview">
      <nb-tab *ngIf="emptyPlaces" tabTitle="Places" badgeText="{{placeNumber}}">
        <app-place-table></app-place-table>
      </nb-tab>
      <nb-tab *ngIf="emptyPeople" tabTitle="People" badgeText="{{peopleNumber}}">
        <app-people-table></app-people-table>
      </nb-tab>
      <nb-tab *ngIf="emptyStory" tabTitle="Story" badgeText="{{storyNumber}}">
        <app-story-table></app-story-table>
      </nb-tab>
    </nb-tabset>
    <nb-list *ngIf="!tapview">
      <nb-list-item *ngIf="emptyPlaces">
        <app-place-table></app-place-table>
      </nb-list-item>
      <nb-list-item *ngIf="emptyPeople">
        <app-people-table></app-people-table>
      </nb-list-item>
      <nb-list-item *ngIf="emptyStory">
        <app-story-table></app-story-table>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
