<nb-actions size="small">
  <nb-action>
    <a href="https://gitlab.com/dungeon-memories/angular/blob/master/README.md" target="_blank">Join the Battle</a>
  </nb-action>
  <nb-action>
    <a href="https://gitlab.com/groups/dungeon-memories/-/issues" target="_blank">Feedback and Issues</a>
  </nb-action>
  <nb-action>
    <a href="mailto:patrickfdomnick@gmail.com">Contact Me</a>
  </nb-action>
</nb-actions>
