<!-- ngbTooltip="{{tooltiptext}}" placement="top" triggers="manual" #tooltip="ngbTooltip"  -->
<ng2-smart-table 
  #table [settings]="settings" [source]="source">
</ng2-smart-table>
<ng-template #dialog let-data let-ref="dialogRef">
  <app-people-view [data]=data></app-people-view>
</ng-template>