<ng-template #sp let-r="result" let-t="term">
  <nb-user (click)="addPerson(r)" name="{{r.name}}" title="{{r.gender}} {{r.race}}" badgeText="{{r.age}}" badgeStatus="success"
    badgePosition="bottom right">
  </nb-user>
</ng-template>
<ng-template #lr let-r="result" let-t="term">
  <strong>{{r.name}}</strong>
</ng-template>
<nb-card class="breakout" [size]="'xxlarge'" [accent]="'active'">
  <nb-card-header>
    <nb-actions size="small" fullWidth>
      <nb-action badgeText="{{story.date}}" badgePosition="top right" badgeStatus="info">
        {{story.name}}
      </nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Associate">
        <label for="person-location">Update current Location</label>
        <input nbInput id="person-location" type="text" class="form-control" placeholder="{{location.name}}"
          [(ngModel)]="locationModel" [ngbTypeahead]="searchLocation" [inputFormatter]="searchFormatter"
          [resultTemplate]="lr" />
        <hr>
        <input nbInput id="story-person" type="text" class="form-control" placeholder="Search for Person" [(ngModel)]="peopleModel"
          [ngbTypeahead]="storyPerson" [inputFormatter]="searchFormatter" [resultTemplate]="sp" (keyup.enter)="addPerson(peopleModel)"
          aria-describedby="add-person" />
        <nb-list>
          <nb-list-item *ngFor="let p of story.people">
            <nb-actions fullWidth>
              <nb-action>
                <nb-user name="{{getP(p).name}}" title="{{getP(p).gender}} {{getP(p).race}}" badgeText="{{getP(p).age}}"
                  badgeStatus="success" badgePosition="bottom right">
                </nb-user>
              </nb-action>
              <nb-action icon="nb-close-circled" (click)="removePerson(p)"></nb-action>
            </nb-actions>
          </nb-list-item>
        </nb-list>
      </nb-tab>
      <nb-tab class="page" tabTitle="Markdown Content" active>
        <ngx-md class="phb" [data]="story.content"></ngx-md>
      </nb-tab>
      <nb-tab tabTitle="Edit Markdown">
        <textarea class="min_height" autosize nbInput fullWidth [(ngModel)]="story.content"></textarea>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton fullWidth status="success" (click)="updateStory()">Save</button>
  </nb-card-footer>
</nb-card>
