<ng-template #sm let-r="result" let-t="term">
  <button nbButton fullWidth (click)="navigate(r)" *ngIf="r.type === 'Person'" status="success" placement="left"
    ngbTooltip="{{r.description}}">
    {{r.name}}
  </button>
  <button nbButton fullWidth (click)="navigate(r)" *ngIf="r.type === 'Story'" status="info" placement="left" ngbTooltip="{{r.description}}">
    {{r.name}}
  </button>
  <button nbButton fullWidth (click)="navigate(r)" *ngIf="r.type === 'Place'" status="primary" placement="left"
    ngbTooltip="{{r.description}}">
    {{r.name}}
  </button>
</ng-template>
<div *ngIf="!hidden" class="row justify-content-between">
  <div class="col-4">
    <nb-actions size="medium" fullWidth>
      <nb-action (click)="toggle()" [disabled]="!data.initialized" placement="bottom" ngbTooltip="Collapse Sidebar"
        icon="nb-layout-sidebar-left"></nb-action>
      <nb-action (click)="home()" [disabled]="!data.initialized" placement="bottom" ngbTooltip="Reset Page" icon="nb-home"></nb-action>
      <nb-action (click)="save()" [disabled]="!data.initialized" placement="bottom" ngbTooltip="Save Campaign" icon="nb-locked"></nb-action>
      <nb-action (click)="hide()" placement="bottom" ngbTooltip="Hide Navbar" icon="nb-arrow-up"></nb-action>
    </nb-actions>
  </div>
  <div class="col-4">
    <h5 class="text-center">
      Dungeon Memories
    </h5>
  </div>
  <div class="col-4">
    <input nbInput fullWidth [disabled]="!data.initialized" type="text" class="form-control" [(ngModel)]="model"
      [ngbTypeahead]="search" [inputFormatter]="searchFormatter" [resultTemplate]="sm" placeholder="Search"
      (keyup.enter)="navigate(model)" />
  </div>
</div>
