<ng-template #lr let-r="result" let-t="term">
  <strong>{{r.name}}</strong>
</ng-template>
<nb-card class="breakout" [size]="'xxlarge'" [accent]="'active'">
  <nb-card-header>
    <nb-actions fullWidth>
      <nb-action (click)="previous()" placement="bottom" ngbTooltip="" icon="nb-arrow-dropleft"></nb-action>
      <nb-action>
        <nb-user *ngIf="people.alive === 'Alive'" name="{{people.name}}" title="{{people.gender}} {{people.race}}"
          badgeText="{{people.age}}" badgeStatus="success" badgePosition="bottom right">
        </nb-user>
        <nb-user *ngIf="people.alive === 'Dead'" name="{{people.name}}" title="{{people.gender}} {{people.race}}"
          badgeText="{{people.age}}" badgeStatus="danger" badgePosition="bottom right">
        </nb-user>
      </nb-action>
      <nb-action (click)="next()" placement="bottom" ngbTooltip="" icon="nb-arrow-dropright"></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-card-body>
    <div class="row full-name-inputs">
      <div class="col-12 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Location of this person</div>
        </div>
        <input type="text" class="form-control" placeholder="{{location.name}}" [(ngModel)]="model" [ngbTypeahead]="searchLocation"
          [inputFormatter]="searchFormatter" [resultTemplate]="lr" />
      </div>
    </div>
    <div class="row full-name-inputs">
      <div class="col-6 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Name</div>
        </div>
        <input [(ngModel)]="people.name" type="text" placeholder="Name" class="form-control" />
      </div>
      <div class="col-3 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Age</div>
        </div>
        <input [(ngModel)]="people.age" type="text" placeholder="Age" class="form-control" />
      </div>
      <div class="col-3 input-group">
        <button fullWidth size="xsmall" nbButton status="success" *ngIf="people.alive === 'Alive'" (click)="people.alive = 'Dead'">Alive</button>
        <button fullWidth size="xsmall" nbButton status="danger" *ngIf="people.alive === 'Dead'" (click)="people.alive = 'Alive'">Dead</button>
      </div>
    </div>
    <div class="row full-name-inputs">
      <div class="col-4 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Race</div>
        </div>
        <input [(ngModel)]="people.race" type="text" placeholder="Race" class="form-control" />
      </div>
      <div class="col-4 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Gender</div>
        </div>
        <input [(ngModel)]="people.gender" type="text" placeholder="Gender" class="form-control" />
      </div>
      <div class="col-4 input-group">
        <label for="priority">Priority: {{people.priority}}</label>
        <input [(ngModel)]="people.priority" type="range" class="custom-range" id="priority">
      </div>
    </div>
    <div class="row full-name-inputs">
      <div class="col-5 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Height</div>
        </div>
        <input [(ngModel)]="people.height" type="text" placeholder="Height" class="form-control" />
      </div>
      <div class="col-5 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Weight</div>
        </div>
        <input [(ngModel)]="people.weight" type="text" placeholder="Weight" class="form-control" />
      </div>
      <div class="col-2">
        <button fullWidth nbButton size="xsmall" [style.background-color]="people.eyes" [cpPosition]="'bottom'"
          [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" [(colorPicker)]="people.eyes">Eye Color</button>
      </div>
    </div>
    <div class="row full-name-inputs">
      <div class="col-6 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Appearance</div>
        </div>
        <input [(ngModel)]="people.appearance" type="text" placeholder="Appearance" class="form-control" />
      </div>
      <div class="col-4 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Hair Length</div>
        </div>
        <input [(ngModel)]="people.hair_length" type="text" placeholder="Hair Length" class="form-control" />
      </div>
      <div class="col-2">
        <button fullWidth nbButton size="xsmall" [style.background-color]="people.hair_color" [cpPosition]="'bottom'"
          [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" [(colorPicker)]="people.hair_color">Hair Color</button>
      </div>
    </div>
    <div class="row full-name-inputs">
      <div class="col-6 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text nb-arrow-thin-up"></div>
        </div>
        <input [(ngModel)]="people.ability_high" type="text" placeholder="High Ability" class="form-control" />
      </div>
      <div class="col-6 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text nb-arrow-thin-down"></div>
        </div>
        <input [(ngModel)]="people.ability_low" type="text" placeholder="Low Ability" class="form-control" />
      </div>
    </div>
    <div class="row full-name-inputs">
      <div class="col-6 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text nb-star"></div>
        </div>
        <input [(ngModel)]="people.talent" type="text" placeholder="Talent" class="form-control" />
      </div>
      <div class="col-6 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text nb-person"></div>
        </div>
        <input [(ngModel)]="people.mannerism" type="text" placeholder="Mannerism" class="form-control" />
      </div>
    </div>
    <div class="row full-name-inputs">
      <div class="col-6 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text nb-shuffle"></div>
        </div>
        <input [(ngModel)]="people.trait" type="text" placeholder="Trait" class="form-control" />
      </div>
      <div class="col-6 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text nb-gear"></div>
        </div>
        <input [(ngModel)]="people.ideal" type="text" placeholder="Ideal" class="form-control" />
      </div>
    </div>
    <div class="row full-name-inputs">
      <div class="col-6 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text nb-heart"></div>
        </div>
        <input [(ngModel)]="people.bond" type="text" placeholder="Bond" class="form-control" />
      </div>
      <div class="col-6 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text nb-power"></div>
        </div>
        <input [(ngModel)]="people.flaw" type="text" placeholder="Flaw" class="form-control" />
      </div>
    </div>
    <div class="row full-name-inputs">
      <div class="col-12 input-group">
        <textarea [(ngModel)]="people.description" rows="7" nbInput fullWidth placeholder="Description"></textarea>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton fullWidth status="success" (click)="updatePeople()">Save</button>
  </nb-card-footer>
</nb-card>
