<ng2-smart-table #table
  [settings]="settings" 
  [source]="source">
</ng2-smart-table>
<ng-template #dialog let-data let-ref="dialogRef">
  <app-story-view [data]=data></app-story-view>
</ng-template>