<nb-card accent="primary" status="active">
  <nb-card-header>How do you wanna do this?</nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item>
        <h3>Choose an existing Campaign</h3>
        <label nbButton status="info" class="text-center fullWidth">
          UPLOAD A LOCAL FILE
          <input style="display: none;" type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="upload()" />
        </label>
      </nb-list-item>
      <nb-list-item>
        <h3>Create a new Campaign</h3>
        <input [(ngModel)]="name" type="text" nbInput fullWidth status="info" placeholder="Name">
        <p></p>
        <input [(ngModel)]="description" type="text" nbInput fullWidth status="info" placeholder="Description">
        <p></p>
        <button nbButton fullWidth status="success" (click)="create()">Welcome to {{name}}!</button>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
