<nb-badge *ngIf="selected_height" [text]="'Depth: ' + selected_height" status="info" position="top left"></nb-badge>
<nb-badge *ngIf="selected_depth" [text]="'Height: ' + selected_depth" status="primary" position="top right"></nb-badge>
<!-- <button (click)="delete_selected()" size="small" fullWidth nbButton status="danger">
  Delete
</button> -->
<tree-root #tree [nodes]="nodes" [options]="options" (moveNode)="moveNode()" (initialized)="initializeTree()"></tree-root>
