<nb-actions size="medium">
  <nb-action *ngFor="let p of data.current; last as isLast; index as i">
    <button shape="semi-round" status="info" *ngIf="!isLast" (click)="navigate(i)" size="xsmall" 
      nbButton outline type="button" ngbTooltip="{{p.description}}" placement="bottom">
      {{p.name}}
    </button>
  </nb-action>
</nb-actions>
