<nb-layout>

  <nb-layout-header *ngIf="!hidden" fixed>
    <app-navbar [parent]="self" style="width: 100%"></app-navbar>
  </nb-layout-header>

  <nb-sidebar *ngIf="data.initialized" tag="left">
    <app-explorer></app-explorer>
  </nb-sidebar>

  <nb-layout-header *ngIf="data.initialized" subheader>
    <app-breadcrumb></app-breadcrumb>
  </nb-layout-header>

  <nb-layout-column>
    <nb-badge (click)="hide()" *ngIf="hidden" text="Show Navbar" status="info" position="right">
    </nb-badge>
    <app-pps *ngIf="data.initialized"></app-pps>
    <app-uploader *ngIf="!data.initialized"></app-uploader>
  </nb-layout-column>

  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
